* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.feedback {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 20rem;
  gap: 0.5rem;
}

.Image {
  position: absolute;
  left: 0;
  width: 15vw;
  padding-top: 10rem;
  opacity: 80%;
}
.Image_1 {
  position: absolute;
  width: 15vw;
  right: 0;
  padding-top: 15rem;
  opacity: 80%;
  transform: rotate(180deg);
}
@media (max-width: 2000px) {
  .Image_1 {
    width: 13vw;
    margin-top: 1rem;
  }
  .Image {
    width: 13vw;
    padding-top: 12rem;
  }
}
@media (max-width: 980px) {
  .Image_1 {
    margin-top: 0;
    width: 15vw;
    z-index: 0;
  }
  .Image {
    width: 15vw;
    margin-top: 8rem;
    z-index: 0;
  }
}
.store {
  background-color: #000000;
  width: 100%;
  height: 70rem;
}

.Test-text {
  z-index: 2;
  position: relative;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  color: #ffff;
}

/* .ecllip1 {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #ffff;
  margin: 0 10px;
  background-size: cover;
} */
.ecllip1 {
  z-index: 2;
  position: relative;
  height: 9rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: #ffff;
  margin: 0 10px;
  /* background-image: url(../../Utils/images/Testimonial/fitness-2.jpg); */
  background-size: cover;
  background-position: -8rem;
}
.Design {
}

.Design_1 {
  transform: rotate(181deg);
}

.ecllip2 {
  position: relative;
  z-index: 2;
  width: 14rem;
  height: 14rem;
  background-size: cover;
  border-radius: 50%;
  background-color: #ffff;
  margin: 0 10px;
  object-fit: cover;

  /* background-image: url(../../Utils/images/Testimonial/fitness-3.jpg); */
}
.ecllip3 {
  position: relative;
  width: 8rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #ffff;
  margin: 0 10px;
  object-fit: cover;
  /* background-image: url(../../Utils/images/Testimonial/fitness-4.jpg); */
  background-size: cover;
}
/* .ecllip5 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #ffff;
  margin: 0 10px;
  background-size: cover; */
/* } */

.feedback-text {
  text-align: center;
  color: #ffff;
  padding: 0 15rem;
  font-size: rem;
}

.mona {
  position: relative;
  z-index: 2;
  color: #ffff;
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

@media (max-width: 1356px) {
  .ecllip1,
  .ecllip5 {
    visibility: hidden;
    /* width: 0; */
  }

  .ecllip4 {
    height: 12rem;
    width: 12rem;
  }
  .ecllip2 {
    height: 12rem;
    width: 12rem;
  }
  .ecllip3 {
    height: 18rem;
    width: 18rem;
  }
}

@media (max-width: 1300px) {
  .Image {
    margin-top: 8rem;
  }
}
@media (max-width: 1600px) {
  .feedback {
    max-height: max-content;
  }
}

@media (max-width: 691px) {
  .Test-text {
    font-size: 2rem;
    padding: 3rem 0 2rem 0;
    margin-bottom: 0;
  }
  .ecllip3 {
    height: 19rem;
    width: 18rem;
  }
  .ecllip1,
  .ecllip2,
  .ecllip4,
  .ecllip5 {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
  .feedback {
    height: auto;
    padding: 0;
    margin: 0;
    /* margin: 2rem 0; */
  }
  .mona {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .Image_1 {
    width: 21vw;
    z-index: 0;
  }
  .Image {
    width: 21vw;
    margin-top: 17rem;
    z-index: 0;
  }
  .Design {
    height: 18rem;
    margin: 2rem;
    margin-right: 5rem;
  }
  .Design_1 {
    height: 20rem;
    margin: 2rem;
    margin-left: 3rem;
  }

  @media (max-width: 406px) {
  }
  @media (max-width: 406px) {
    .Test-text {
      font-size: 2rem;
      padding: 1rem;
      margin-bottom: 0;
    }
    .feedback {
      height: 10rem;
    }
    .des {
      font-size: 0.6rem;
    }
    .ecllip3 {
      height: 40vw;
      width: 30vw;
      margin: 0 auto;
      padding: 0;
    }
    .mona {
      font-size: 2rem;
      margin-top: 0;
    }

    .Image_1 {
      width: 21vw;
      z-index: 0;
    }
    .Image {
      width: 21vw;
      margin-top: 7rem;
      z-index: 0;
    }
    .Design {
      height: 9rem;
      margin-top: 1rem;
      margin-right: 4rem;
      margin-bottom: 0;
    }
    .Design_1 {
      height: 9rem;
      margin-left: 2rem;
      margin-bottom: 0rem;
    }
  }
}
@media (max-width: 1300px) {
  .ecllip1 {
    display: none;
  }

  .ecllip3 {
    display: none;
  }
}
